/*
FLEX
--
$positions: justify-content & align-items
If only one value, will be used for the two properties
Use 'null' to not declare a propertie, ex: flex(center null)
*/
/*
FILL
--
$mode = 'parent' || 'viewport'
$fullH fill width AND height
*/
/*
RESPONSIVE FONT
--
https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps
*/
/*
ADD WEBFONT
--
$path in context of the fonts folder
*/
/*
TEXT TRUNCATE
--
requires inline-block or block for proper styling
*/
/*
PSEUDO BACKGROUND
--
Use in :before or :after
Parent element should be positioned
*/
/*
PSEUDO ROUND
--
Use in :before or :after
Parent element should be positioned
*/
/*
BACKGROUND WITH SHADOW
--
Make background with :after and fancy shadow with :before
*/
/*======================================================================*\
==========================================================================

								RESET

==========================================================================
\*======================================================================*/
body {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  max-height: 100%;
}

a {
  text-decoration: none;
  outline: 0;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*======================================================================*\
==========================================================================

								LAYERS

==========================================================================
\*======================================================================*/
#global {
  position: relative;
  overflow-x: hidden;
}

#main {
  position: relative;
  z-index: 2;
}

#header {
  position: relative;
  z-index: 4;
}

#footer {
  position: relative;
  z-index: 3;
}
#footer--under {
  z-index: 1;
}

/*======================================================================*\
==========================================================================

								HELPERS

==========================================================================
\*======================================================================*/
.cb-adminTools,
.transition {
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.posR {
  position: relative;
}

.posA {
  position: absolute;
}

.posF {
  position: fixed;
}

.displayIB {
  display: inline-block;
}

[class*="show@"] {
  display: none;
}

@media screen and (min-width: 400px) {
  .show\@small {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .show\@medium {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  .show\@large {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .show\@xlarge {
    display: block;
  }
}

.t-deco--none {
  text-decoration: none !important;
}

.t--h {
  font-family: gilroy, sans-serif !important;
}

.t--bt {
  font-family: gilroy, sans-serif !important;
}

.t--p {
  font-family: "Assistant", sans-serif !important;
}

.t--uppercase {
  text-transform: uppercase !important;
}

.t--lowercase {
  text-transform: lowercase !important;
}

.t-align--l {
  text-align: left !important;
}

.t-align--r {
  text-align: right !important;
}

.t-align--c {
  text-align: center !important;
}

.t-fw--400 {
  font-weight: 400 !important;
}

.t-fw--700 {
  font-weight: 700 !important;
}

.t-fw--900 {
  font-weight: 900 !important;
}

.flex {
  display: flex !important;
}
.flex--column {
  flex-direction: column !important;
}
.flex--wrap {
  flex-wrap: wrap !important;
}
.flex--jcc {
  justify-content: center !important;
}
.flex--jcsb {
  justify-content: space-between !important;
}
.flex--jcfs {
  justify-content: flex-start !important;
}
.flex--jcfe {
  justify-content: flex-end !important;
}
.flex--jcspa {
  justify-content: space-around !important;
}
.flex--aifs {
  align-items: flex-start !important;
}
.flex--aic {
  align-items: center !important;
}
.flex--aife {
  align-items: flex-end !important;
}
.flex--center {
  align-items: center !important;
  justify-content: center !important;
}
.flex--none {
  flex: none !important;
}
.flex--auto {
  flex: 1 0 auto !important;
}
.flex--100 {
  flex: 1 0 100% !important;
}
.flex--1 {
  flex: 1 !important;
}
.flex--2 {
  flex: 2 !important;
}
.flex--3 {
  flex: 3 !important;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3 !important;
}

.is-on-top {
  z-index: 10 !important;
}

.is-fixed {
  position: fixed !important;
}

.has-pointer {
  cursor: pointer;
}

.has-no-scroll {
  overflow: hidden;
}

.c-main {
  color: #026873 !important;
}

.bg-main {
  background-color: #026873 !important;
}

.c-accent {
  color: #FCEE00 !important;
}

.bg-accent {
  background-color: #FCEE00 !important;
}

.c-dark {
  color: #003035 !important;
}

.bg-dark {
  background-color: #003035 !important;
}

.c-light {
  color: #deeced !important;
}

.bg-light {
  background-color: #deeced !important;
}

.c-txt {
  color: #003035 !important;
}

.bg-txt {
  background-color: #003035 !important;
}

.c-valid {
  color: #00C15F !important;
}

.bg-valid {
  background-color: #00C15F !important;
}

.c-error {
  color: #F13636 !important;
}

.bg-error {
  background-color: #F13636 !important;
}

.c-facebook {
  color: #3b5998 !important;
}

.bg-facebook {
  background-color: #3b5998 !important;
}

.c-twitter {
  color: #1da1f2 !important;
}

.bg-twitter {
  background-color: #1da1f2 !important;
}

.c-linkedin {
  color: #0077b5 !important;
}

.bg-linkedin {
  background-color: #0077b5 !important;
}

.c-youtube {
  color: #cd201f !important;
}

.bg-youtube {
  background-color: #cd201f !important;
}

.c-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.mgn--center {
  margin-left: auto;
  margin-right: auto;
}

.mgnTop--auto {
  margin-top: auto !important;
}

.mgnRight--auto {
  margin-right: auto !important;
}

.mgnBottom--auto {
  margin-bottom: auto !important;
}

.mgnLeft--auto {
  margin-left: auto !important;
}

.pdg--none {
  padding: 0 !important;
}

.pdgTop--none {
  padding-top: 0 !important;
}

.pdgRight--none {
  padding-right: 0 !important;
}

.pdgBottom--none {
  padding-bottom: 0 !important;
}

.pdgLeft--none {
  padding-left: 0 !important;
}

.mgn--none {
  margin: 0 !important;
}

.mgnTop--none {
  margin-top: 0 !important;
}

.mgnRight--none {
  margin-right: 0 !important;
}

.mgnBottom--none {
  margin-bottom: 0 !important;
}

.mgnLeft--none {
  margin-left: 0 !important;
}

.pdg--xs {
  padding: 8px !important;
}

.pdgTop--xs {
  padding-top: 8px !important;
}

.pdgRight--xs {
  padding-right: 8px !important;
}

.pdgBottom--xs {
  padding-bottom: 8px !important;
}

.pdgLeft--xs {
  padding-left: 8px !important;
}

.mgn--xs {
  margin: 8px !important;
}

.mgnTop--xs {
  margin-top: 8px !important;
}

.mgnRight--xs {
  margin-right: 8px !important;
}

.mgnBottom--xs {
  margin-bottom: 8px !important;
}

.mgnLeft--xs {
  margin-left: 8px !important;
}

.pdg--s {
  padding: 16px !important;
}

.pdgTop--s {
  padding-top: 16px !important;
}

.pdgRight--s {
  padding-right: 16px !important;
}

.pdgBottom--s {
  padding-bottom: 16px !important;
}

.pdgLeft--s {
  padding-left: 16px !important;
}

.mgn--s {
  margin: 16px !important;
}

.mgnTop--s {
  margin-top: 16px !important;
}

.mgnRight--s {
  margin-right: 16px !important;
}

.mgnBottom--s {
  margin-bottom: 16px !important;
}

.mgnLeft--s {
  margin-left: 16px !important;
}

.pdg--m {
  padding: 24px !important;
}

.pdgTop--m {
  padding-top: 24px !important;
}

.pdgRight--m {
  padding-right: 24px !important;
}

.pdgBottom--m {
  padding-bottom: 24px !important;
}

.pdgLeft--m {
  padding-left: 24px !important;
}

.mgn--m {
  margin: 24px !important;
}

.mgnTop--m {
  margin-top: 24px !important;
}

.mgnRight--m {
  margin-right: 24px !important;
}

.mgnBottom--m {
  margin-bottom: 24px !important;
}

.mgnLeft--m {
  margin-left: 24px !important;
}

.pdg--l {
  padding: 40px !important;
}

.pdgTop--l {
  padding-top: 40px !important;
}

.pdgRight--l {
  padding-right: 40px !important;
}

.pdgBottom--l {
  padding-bottom: 40px !important;
}

.pdgLeft--l {
  padding-left: 40px !important;
}

.mgn--l {
  margin: 40px !important;
}

.mgnTop--l {
  margin-top: 40px !important;
}

.mgnRight--l {
  margin-right: 40px !important;
}

.mgnBottom--l {
  margin-bottom: 40px !important;
}

.mgnLeft--l {
  margin-left: 40px !important;
}

.pdg--xl {
  padding: 64px !important;
}

.pdgTop--xl {
  padding-top: 64px !important;
}

.pdgRight--xl {
  padding-right: 64px !important;
}

.pdgBottom--xl {
  padding-bottom: 64px !important;
}

.pdgLeft--xl {
  padding-left: 64px !important;
}

.mgn--xl {
  margin: 64px !important;
}

.mgnTop--xl {
  margin-top: 64px !important;
}

.mgnRight--xl {
  margin-right: 64px !important;
}

.mgnBottom--xl {
  margin-bottom: 64px !important;
}

.mgnLeft--xl {
  margin-left: 64px !important;
}

.pdg--xxl {
  padding: 96px !important;
}

.pdgTop--xxl {
  padding-top: 96px !important;
}

.pdgRight--xxl {
  padding-right: 96px !important;
}

.pdgBottom--xxl {
  padding-bottom: 96px !important;
}

.pdgLeft--xxl {
  padding-left: 96px !important;
}

.mgn--xxl {
  margin: 96px !important;
}

.mgnTop--xxl {
  margin-top: 96px !important;
}

.mgnRight--xxl {
  margin-right: 96px !important;
}

.mgnBottom--xxl {
  margin-bottom: 96px !important;
}

.mgnLeft--xxl {
  margin-left: 96px !important;
}

/*======================================================================*\
==========================================================================

							TYPOGRAPHY

==========================================================================
\*======================================================================*/
body {
  font-family: "Assistant", sans-serif;
  line-height: 1.2;
  color: #003035;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy/black/Gilroy-Black.eot");
  src: url("../fonts/gilroy/black/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/black/Gilroy-Black.ttf") format("truetype"), url("../fonts/gilroy/black/Gilroy-Black.woff") format("woff"), url("../fonts/gilroy/black/Gilroy-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy/regular/Gilroy-Regular.eot");
  src: url("../fonts/gilroy/regular/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/regular/Gilroy-Regular.ttf") format("truetype"), url("../fonts/gilroy/regular/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/regular/Gilroy-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
  margin-top: 0;
}

.h0 {
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .h0 {
    font-size: 32px;
  }
}
@media screen and (min-width: 960px) {
  .h0 {
    font-size: 45px;
  }
}

h1, .h1 {
  font-size: 29px;
}
@media screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 34px;
  }
}
@media screen and (min-width: 960px) {
  h1, .h1 {
    font-size: 40px;
  }
}

h1 {
  margin-top: 2em;
}

h2, .h2 {
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  h2, .h2 {
    font-size: 29px;
  }
}
@media screen and (min-width: 960px) {
  h2, .h2 {
    font-size: 34px;
  }
}

h2 {
  margin-top: 2.2em;
}

h3, .h3 {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  h3, .h3 {
    font-size: 23px;
  }
}
@media screen and (min-width: 960px) {
  h3, .h3 {
    font-size: 25px;
  }
}

h3 {
  margin-top: 1.7em;
}

h4, .h4, .cb-notify__message, .cb-adminTools__bt {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  h4, .h4, .cb-notify__message, .cb-adminTools__bt {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  h4, .h4, .cb-notify__message, .cb-adminTools__bt {
    font-size: 20px;
    line-height: 1.5;
  }
}

h4 {
  margin-top: 1em;
}

h5, .h5, .content figure figcaption {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  h5, .h5, .content figure figcaption {
    font-size: 15px;
  }
}
@media screen and (min-width: 960px) {
  h5, .h5, .content figure figcaption {
    font-size: 16px;
  }
}

h5 {
  margin-top: 0.8em;
}

h6, .h6 {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  h6, .h6 {
    font-size: 13px;
  }
}
@media screen and (min-width: 960px) {
  h6, .h6 {
    font-size: 14px;
  }
}

h6 {
  margin-top: 0.7;
}

p, .p, ul li {
  font-size: 16px;
  font-family: "Assistant", sans-serif;
}
@media screen and (min-width: 768px) {
  p, .p, ul li {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  p, .p, ul li {
    font-size: 20px;
    line-height: 1.5;
  }
}

p {
  margin-top: 1em;
}

ul {
  margin-top: 1em;
}
ul li {
  margin-top: 0.4em;
  line-height: 1.1;
}

p a,
li a {
  color: #026873;
  font-weight: 900;
  text-decoration: underline;
}
p a:hover,
li a:hover {
  color: #003035;
}

/*======================================================================*\
==========================================================================

							ANIMATION

==========================================================================
\*======================================================================*/
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
.anim-spin {
  animation: 1s spin infinite linear;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
.anim-floating {
  animation: 3s floating infinite linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.anim-pulse {
  animation: 1s pulse 5 linear;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim-flash {
  animation: 0.2s flash 5 linear;
}

.has-glow {
  box-shadow: 0 0 50px rgba(252, 238, 0, 0.5);
}

.bg-wormz {
  background: url("../img/patterns/light-wormz.jpg");
}

/*======================================================================*\
==========================================================================

							LAYOUT BASICS

==========================================================================
\*======================================================================*/
.l-basicCell {
  padding: 16px;
}
@media screen and (min-width: 960px) {
  .l-basicCell {
    padding: 24px;
  }
}

.l-largeCell {
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .l-largeCell {
    padding: 52px;
  }
}
@media screen and (min-width: 960px) {
  .l-largeCell {
    padding: 64px;
  }
}

.l-heroCell {
  padding: 83.2px 64px;
}
@media screen and (min-width: 768px) {
  .l-heroCell {
    padding: 108.16px 83.2px;
  }
}
@media screen and (min-width: 960px) {
  .l-heroCell {
    padding: 166.4px 128px;
  }
}

.l-col {
  width: 100%;
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.l-col--content {
  max-width: 700px;
}
@media screen and (min-width: 1200px) {
  .l-col--content {
    padding-left: 0;
    padding-right: 0;
  }
}
.l-col--narrow {
  max-width: 490.0px;
}

.l-jump {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .l-jump {
    margin-top: 40px;
  }
}
@media screen and (min-width: 960px) {
  .l-jump {
    margin-top: 52px;
  }
}

.l-topMargin, .l-margin {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .l-topMargin, .l-margin {
    margin-top: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-topMargin, .l-margin {
    margin-top: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-topMargin, .l-margin {
    margin-top: 124.8px;
  }
}

.l-bottomMargin, .l-margin {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .l-bottomMargin, .l-margin {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-bottomMargin, .l-margin {
    margin-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-bottomMargin, .l-margin {
    margin-bottom: 124.8px;
  }
}

.l-topPadding, .l-padding {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .l-topPadding, .l-padding {
    padding-top: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-topPadding, .l-padding {
    padding-top: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-topPadding, .l-padding {
    padding-top: 124.8px;
  }
}

.l-bottomPadding, .l-padding {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .l-bottomPadding, .l-padding {
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 960px) {
  .l-bottomPadding, .l-padding {
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .l-bottomPadding, .l-padding {
    padding-bottom: 124.8px;
  }
}

.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center--col {
  flex-direction: column;
}

/*======================================================================*\
==========================================================================

							LAYOUT BASE FLEXGRID

==========================================================================
\*======================================================================*/
.l-flexGrid {
  display: flex;
  flex-direction: true;
}
@media screen and (min-width: 400px) {
  .l-flexGrid {
    flex-direction: row;
  }
}

.l-flexGrid__item {
  flex: 1 0 100%;
  padding: 20px 0;
}
.l-flexGrid__item--first, .l-flexGrid__item:first-child {
  padding-top: 0;
}
.l-flexGrid__item--last, .l-flexGrid__item:last-child {
  padding-bottom: 0;
}
@media screen and (min-width: 400px) {
  .l-flexGrid__item {
    flex: 1 0 0%;
    padding: 0 20px;
  }
  .l-flexGrid__item--first, .l-flexGrid__item:first-child {
    padding-left: 0;
  }
  .l-flexGrid__item:last-child {
    padding-right: 0;
  }
}

/*======================================================================*\
==========================================================================

							BASE SPINNER

==========================================================================
\*======================================================================*/
.cb-spinner {
  width: 14px;
  border: 2px solid #026873;
  border-top-color: transparent;
  border-radius: 50%;
  background-color: transparent;
  animation: 0.8s linear infinite spin;
}
.cb-spinner:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.cb-spinner--white {
  border-color: #fff;
}

/*======================================================================*\
==========================================================================

							BASE LOADER

==========================================================================
\*======================================================================*/
.cb-loader {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #fff;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.cb-loader.is-visible {
  transform: translateY(0%);
}

.cb-loader__bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #026873;
  transition-property: width;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*======================================================================*\
==========================================================================

							BASE NOTIFY

==========================================================================
\*======================================================================*/
.cb-notify {
  position: fixed;
  width: 100%;
  z-index: 1000;
  left: 0;
  bottom: 0;
  background-color: #003035;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.cb-notify.is-open {
  transform: translateY(0%);
}
.cb-notify.error {
  background-color: #F13636;
}
.cb-notify.valid {
  background-color: #00C15F;
}

.cb-notify__content {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cb-notify__message {
  font-family: gilroy, sans-serif;
  color: #fff;
  margin-right: 24px;
}

.cb-notify__btn {
  flex: none;
  cursor: pointer;
  flex: none;
  color: #fff;
  font-family: gilroy, sans-serif;
}

/*======================================================================*\
==========================================================================

							BASE NAV ADMIN

==========================================================================
\*======================================================================*/
.cb-adminTools {
  position: fixed;
  z-index: 1000;
  right: 8px;
  bottom: 8px;
  padding: 16px;
  background-color: #000;
  border-radius: 100px;
  display: flex;
  justify-content: space--between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .cb-adminTools {
    display: none;
  }
}

.cb-adminTools__bt {
  position: relative;
  font-family: gilroy, sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 0.1em  0.6em;
}
.cb-adminTools__bt:hover {
  color: #FCEE00;
}

/*======================================================================*\
==========================================================================

								HEADER

==========================================================================
\*======================================================================*/
.content h2 {
  font-family: gilroy, sans-serif;
  padding-right: 1em;
}
.content h3 {
  font-family: gilroy, sans-serif;
  font-weight: 400;
}
.content figure {
  margin: 0;
}
.content figure img {
  border-radius: 3px;
}
.content figure figcaption {
  text-align: center;
  margin-top: 0.5em;
  color: #003035;
  padding: 0 5em;
}

.content-jump {
  display: block;
  margin-top: 64px;
  margin-bottom: 64px;
}
.content-jump + .content-jump {
  margin-top: -24px;
}

/*======================================================================*\
==========================================================================

							FOOTER

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

							HOMEPAGE

==========================================================================
\*======================================================================*/
