/*
FLEX
--
$positions: justify-content & align-items
If only one value, will be used for the two properties
Use 'null' to not declare a propertie, ex: flex(center null)
*/
/*
FILL
--
$mode = 'parent' || 'viewport'
$fullH fill width AND height
*/
/*
RESPONSIVE FONT
--
https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps
*/
/*
ADD WEBFONT
--
$path in context of the fonts folder
*/
/*
TEXT TRUNCATE
--
requires inline-block or block for proper styling
*/
/*
PSEUDO BACKGROUND
--
Use in :before or :after
Parent element should be positioned
*/
/*
PSEUDO ROUND
--
Use in :before or :after
Parent element should be positioned
*/
/*
BACKGROUND WITH SHADOW
--
Make background with :after and fancy shadow with :before
*/
/*======================================================================*\
==========================================================================

							ANIMATION

==========================================================================
\*======================================================================*/
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.anim-spin {
  animation: 1s spin infinite linear;
}
.anim-spin .icon1 {
  display: none;
}
.anim-spin .icon2 {
  display: block !important;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes pulseBg {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
/*======================================================================*\
==========================================================================

								HELPERS

==========================================================================
\*======================================================================*/
.cb-adminTools, .cb-adminTools__area__bt::after,
.transition,
.ui-datepicker .ui-datepicker-close,
.ui-datepicker .ui-datepicker-current {
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.posR {
  position: relative;
}

.posA {
  position: absolute;
}

.posF {
  position: fixed;
}

[class*="show@"] {
  display: none;
}

@media screen and (min-width: 480px) {
  .show\@small {
    display: block;
  }
}

@media screen and (min-width: 760px) {
  .show\@medium {
    display: block;
  }
}

@media screen and (min-width: 1050px) {
  .show\@large {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .show\@xlarge {
    display: block;
  }
}

.t-deco--none {
  text-decoration: none;
}

.t--h {
  font-family: sans-serif;
}

.t--bt {
  font-family: sans-serif;
}

.t--p {
  font-family: sans-serif;
}

.t--uppercase {
  text-transform: uppercase;
}

.t--lowercase {
  text-transform: lowercase;
}

.t-align--l {
  text-align: left;
}

.t-align--r {
  text-align: right;
}

.t-align--c {
  text-align: center;
}

.t-fw--400 {
  font-weight: 400;
}

.t-fw--700 {
  font-weight: 700;
}

.t-fw--900 {
  font-weight: 900;
}

.flex {
  display: flex;
}
.flex--column {
  flex-direction: column;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--jcc {
  justify-content: center;
}
.flex--jcsb {
  justify-content: space-between;
}
.flex--jcfs {
  justify-content: flex-start;
}
.flex--jcfe {
  justify-content: flex-end;
}
.flex--jcspa {
  justify-content: space-around;
}
.flex--aic {
  align-items: center;
}
.flex--center {
  align-items: center;
  justify-content: center;
}
.flex--none {
  flex: none;
}
.flex--auto {
  flex: 1 0 auto;
}
.flex--100 {
  flex: 1 0 100%;
}
.flex--1 {
  flex: 1;
}
.flex--2 {
  flex: 2;
}
.flex--3 {
  flex: 3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3 !important;
}

.is-on-top {
  z-index: 10 !important;
}

.is-fixed {
  position: fixed !important;
}

.is-pointer {
  cursor: pointer;
}

.has-no-scroll {
  overflow: hidden;
}

.c-main {
  color: blue !important;
}

.bg-main {
  background-color: blue !important;
}

.c-accent {
  color: orange !important;
}

.bg-accent {
  background-color: orange !important;
}

.c-dark {
  color: black !important;
}

.bg-dark {
  background-color: black !important;
}

.c-light {
  color: lightgrey !important;
}

.bg-light {
  background-color: lightgrey !important;
}

.c-txt {
  color: black !important;
}

.bg-txt {
  background-color: black !important;
}

.c-valid {
  color: #00C15F !important;
}

.bg-valid {
  background-color: #00C15F !important;
}

.c-error {
  color: #F13636 !important;
}

.bg-error {
  background-color: #F13636 !important;
}

.mgnCenter {
  margin-left: auto;
  margin-right: auto;
}

.mgnTop--auto {
  margin-top: auto !important;
}

.mgnRight--auto {
  margin-right: auto !important;
}

.mgnBottom--auto {
  margin-bottom: auto !important;
}

.mgnLeft--auto {
  margin-left: auto !important;
}

.pdg--xs {
  padding: 8px !important;
}

.pdgTop--xs {
  padding-top: 8px !important;
}

.pdgRight--xs {
  padding-right: 8px !important;
}

.pdgBottom--xs {
  padding-bottom: 8px !important;
}

.pdgLeft--xs {
  padding-left: 8px !important;
}

.mgn--xs {
  margin: 8px !important;
}

.mgnTop--xs {
  margin-top: 8px !important;
}

.mgnRight--xs {
  margin-right: 8px !important;
}

.mgnBottom--xs {
  margin-bottom: 8px !important;
}

.mgnLeft--xs {
  margin-left: 8px !important;
}

.pdg--s {
  padding: 16px !important;
}

.pdgTop--s {
  padding-top: 16px !important;
}

.pdgRight--s {
  padding-right: 16px !important;
}

.pdgBottom--s {
  padding-bottom: 16px !important;
}

.pdgLeft--s {
  padding-left: 16px !important;
}

.mgn--s {
  margin: 16px !important;
}

.mgnTop--s {
  margin-top: 16px !important;
}

.mgnRight--s {
  margin-right: 16px !important;
}

.mgnBottom--s {
  margin-bottom: 16px !important;
}

.mgnLeft--s {
  margin-left: 16px !important;
}

.pdg--m {
  padding: 24px !important;
}

.pdgTop--m {
  padding-top: 24px !important;
}

.pdgRight--m {
  padding-right: 24px !important;
}

.pdgBottom--m {
  padding-bottom: 24px !important;
}

.pdgLeft--m {
  padding-left: 24px !important;
}

.mgn--m {
  margin: 24px !important;
}

.mgnTop--m {
  margin-top: 24px !important;
}

.mgnRight--m {
  margin-right: 24px !important;
}

.mgnBottom--m {
  margin-bottom: 24px !important;
}

.mgnLeft--m {
  margin-left: 24px !important;
}

.pdg--l {
  padding: 40px !important;
}

.pdgTop--l {
  padding-top: 40px !important;
}

.pdgRight--l {
  padding-right: 40px !important;
}

.pdgBottom--l {
  padding-bottom: 40px !important;
}

.pdgLeft--l {
  padding-left: 40px !important;
}

.mgn--l {
  margin: 40px !important;
}

.mgnTop--l {
  margin-top: 40px !important;
}

.mgnRight--l {
  margin-right: 40px !important;
}

.mgnBottom--l {
  margin-bottom: 40px !important;
}

.mgnLeft--l {
  margin-left: 40px !important;
}

.pdg--xl {
  padding: 80px !important;
}

.pdgTop--xl {
  padding-top: 80px !important;
}

.pdgRight--xl {
  padding-right: 80px !important;
}

.pdgBottom--xl {
  padding-bottom: 80px !important;
}

.pdgLeft--xl {
  padding-left: 80px !important;
}

.mgn--xl {
  margin: 80px !important;
}

.mgnTop--xl {
  margin-top: 80px !important;
}

.mgnRight--xl {
  margin-right: 80px !important;
}

.mgnBottom--xl {
  margin-bottom: 80px !important;
}

.mgnLeft--xl {
  margin-left: 80px !important;
}

.pdg--xxl {
  padding: 160px !important;
}

.pdgTop--xxl {
  padding-top: 160px !important;
}

.pdgRight--xxl {
  padding-right: 160px !important;
}

.pdgBottom--xxl {
  padding-bottom: 160px !important;
}

.pdgLeft--xxl {
  padding-left: 160px !important;
}

.mgn--xxl {
  margin: 160px !important;
}

.mgnTop--xxl {
  margin-top: 160px !important;
}

.mgnRight--xxl {
  margin-right: 160px !important;
}

.mgnBottom--xxl {
  margin-bottom: 160px !important;
}

.mgnLeft--xxl {
  margin-left: 160px !important;
}

/*======================================================================*\
==========================================================================

								RESET

==========================================================================
\*======================================================================*/
body {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

svg {
  max-height: 100%;
}

a {
  text-decoration: none;
  outline: 0;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*======================================================================*\
==========================================================================

							TYPOGRAPHY

==========================================================================
\*======================================================================*/
body {
  font: 16px sans-serif;
  line-height: 1.3;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: #fff;
  background: blue;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, p:first-child {
  margin-top: 0;
}

h1, .h1 {
  font-size: 22px;
}
@media screen and (min-width: 760px) {
  h1, .h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1050px) {
  h1, .h1 {
    font-size: 40px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  h1, .h1 {
    font-size: 45px;
    line-height: 1.2;
  }
}

h1 {
  margin-top: 80px;
}

h2, .h2 {
  font-size: 18px;
}
@media screen and (min-width: 760px) {
  h2, .h2 {
    font-size: 21px;
  }
}
@media screen and (min-width: 1050px) {
  h2, .h2 {
    font-size: 26px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1200px) {
  h2, .h2 {
    font-size: 29px;
  }
}

h2 {
  margin-top: 52px;
}

h3, .h3, .cb-notify__message {
  font-size: 16px;
}
@media screen and (min-width: 760px) {
  h3, .h3, .cb-notify__message {
    font-size: 18px;
  }
}
@media screen and (min-width: 1050px) {
  h3, .h3, .cb-notify__message {
    font-size: 19px;
  }
}
@media screen and (min-width: 1200px) {
  h3, .h3, .cb-notify__message {
    font-size: 21px;
  }
}

h3 {
  margin-top: 24px;
}

h4, .h4, .cb-notify__btn, .acf-form label, .acf-form .acf-field-59245b0f136ce .message, .ui-datepicker .ui-datepicker-title {
  font-size: 14px;
}
@media screen and (min-width: 760px) {
  h4, .h4, .cb-notify__btn, .acf-form label, .acf-form .acf-field-59245b0f136ce .message, .ui-datepicker .ui-datepicker-title {
    font-size: 17px;
  }
}
@media screen and (min-width: 1050px) {
  h4, .h4, .cb-notify__btn, .acf-form label, .acf-form .acf-field-59245b0f136ce .message, .ui-datepicker .ui-datepicker-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  h4, .h4, .cb-notify__btn, .acf-form label, .acf-form .acf-field-59245b0f136ce .message, .ui-datepicker .ui-datepicker-title {
    font-size: 19px;
  }
}

h4 {
  margin-top: 16px;
}

h5, .h5 {
  font-size: 12px;
}
@media screen and (min-width: 760px) {
  h5, .h5 {
    font-size: 13px;
  }
}
@media screen and (min-width: 1050px) {
  h5, .h5 {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  h5, .h5 {
    font-size: 16px;
  }
}

h5 {
  margin-top: 8px;
}

h6, .h6 {
  font-size: 9px;
}
@media screen and (min-width: 760px) {
  h6, .h6 {
    font-size: 10px;
  }
}
@media screen and (min-width: 1050px) {
  h6, .h6 {
    font-size: 11px;
  }
}
@media screen and (min-width: 1200px) {
  h6, .h6 {
    font-size: 12px;
  }
}

h6 {
  margin-top: 5.6px;
}

p, .p, .acf-form .input,
.acf-form input[type="text"],
.acf-form input[type="file"], .acf-form .description,
.acf-form input[type="email"], .acf-form select,
.acf-form .select2-choices,
.acf-form textarea,
.acf-form input[type="url"] {
  font-size: 14px;
  font-family: sans-serif;
}
@media screen and (min-width: 760px) {
  p, .p, .acf-form .input,
  .acf-form input[type="text"],
  .acf-form input[type="file"], .acf-form .description,
  .acf-form input[type="email"], .acf-form select,
  .acf-form .select2-choices,
  .acf-form textarea,
  .acf-form input[type="url"] {
    font-size: 17px;
  }
}
@media screen and (min-width: 1050px) {
  p, .p, .acf-form .input,
  .acf-form input[type="text"],
  .acf-form input[type="file"], .acf-form .description,
  .acf-form input[type="email"], .acf-form select,
  .acf-form .select2-choices,
  .acf-form textarea,
  .acf-form input[type="url"] {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  p, .p, .acf-form .input,
  .acf-form input[type="text"],
  .acf-form input[type="file"], .acf-form .description,
  .acf-form input[type="email"], .acf-form select,
  .acf-form .select2-choices,
  .acf-form textarea,
  .acf-form input[type="url"] {
    font-size: 19px;
  }
}

p {
  margin-top: 16px;
}

/*======================================================================*\
==========================================================================

								LAYERS

==========================================================================
\*======================================================================*/
body.no-scroll {
  overflow-y: hidden;
}

#global {
  position: absolute;
}

#main {
  position: relative;
  z-index: 2;
}

#header {
  position: relative;
  z-index: 4;
}

#footer {
  position: relative;
  z-index: 3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/*======================================================================*\
==========================================================================

							LAYOUT HELPERS

==========================================================================
\*======================================================================*/
.l-cell, .cb-notify__content {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 760px) {
  .l-cell, .cb-notify__content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.l-row {
  position: relative;
  width: 100vw;
  max-width: 100%;
}
.l-row--ovh {
  overflow: hidden;
}

.l-col {
  width: 100%;
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.l-col--content {
  max-width: 750px;
}

.l-vRythm {
  margin-top: 40px;
}
@media screen and (min-width: 760px) {
  .l-vRythm {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1050px) {
  .l-vRythm {
    margin-top: 112px;
  }
}

.l-innerRythm {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 760px) {
  .l-innerRythm {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1050px) {
  .l-innerRythm {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.l-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.l-centerCol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*======================================================================*\
==========================================================================

							LAYOUT BASE FLEXGRID

==========================================================================
\*======================================================================*/
.l-flexGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .l-flexGrid {
    flex-direction: row;
  }
}

.l-flexGrid__item {
  flex: 1 0 100%;
  padding: 12px 0;
}
.l-flexGrid__item--first, .l-flexGrid__item:first-child {
  padding-top: 0;
}
.l-flexGrid__item--last, .l-flexGrid__item:last-child {
  padding-bottom: 0;
}
@media screen and (min-width: 480px) {
  .l-flexGrid__item {
    flex: 1 0 0%;
    padding: 0 12px;
  }
  .l-flexGrid__item--first, .l-flexGrid__item:first-child {
    padding-left: 0;
  }
  .l-flexGrid__item:last-child {
    padding-right: 0;
  }
}

/*======================================================================*\
==========================================================================

							BASE SPINNER

==========================================================================
\*======================================================================*/
.cb-spinner {
  width: 14px;
  border: 2px solid blue;
  border-top-color: transparent;
  border-radius: 50%;
  background-color: transparent;
  animation: 0.8s linear infinite spin;
}
.cb-spinner:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.cb-spinner--white {
  border-color: #fff;
}

/*======================================================================*\
==========================================================================

							BASE LOADER

==========================================================================
\*======================================================================*/
.cb-loader {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #fff;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.cb-loader.is-visible {
  transform: translateY(0%);
}

.cb-loader__bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: blue;
  transition-property: width;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*======================================================================*\
==========================================================================

							BASE NOTIFY

==========================================================================
\*======================================================================*/
.cb-notify {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  background-color: black;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.cb-notify.is-open {
  transform: translateY(0%);
}

.cb-notify__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cb-notify__message {
  font-family: sans-serif;
  color: #fff;
}

.cb-notify__btn {
  cursor: pointer;
  flex: none;
  color: #fff;
  font-family: sans-serif;
}

/*======================================================================*\
==========================================================================

							BASE NAV ADMIN

==========================================================================
\*======================================================================*/
.cb-adminTools {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  padding: 8px;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space--between;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .cb-adminTools {
    display: none;
  }
}
.cb-adminTools.is-off {
  transform: translateY(100%);
}

.cb-adminTools__area {
  flex: 1 0 30%;
}
.cb-adminTools__area:nth-child(2) {
  text-align: center;
}
.cb-adminTools__area:nth-child(3) {
  text-align: right;
}

.cb-adminTools__area__bt {
  position: relative;
  color: #fff;
  padding: 8px 16px;
}
.cb-adminTools__area__bt::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: blue;
}
.cb-adminTools__area__bt:hover {
  color: blue;
}
.cb-adminTools__area__bt:hover::after {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .cb-adminTools__area__bt--grid {
    display: none;
  }
}
.cb-adminTools__area__bt--admin {
  margin-left: auto;
}
.cb-adminTools__area__bt--edit {
  margin-right: auto;
}

/*======================================================================*\
==========================================================================

								BUTTONS

==========================================================================
\*======================================================================*/
.c-button, .acf-form input[type="submit"] {
  background-color: blue;
  color: lightgrey;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
}

/*======================================================================*\
==========================================================================

							CHUNK FORM

==========================================================================
\*======================================================================*/
.acf-form label {
  color: black;
}
.acf-form input[type="file"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.acf-form .acf-field-59245b0f136ce label {
  display: none;
}
.acf-form .acf-field-59245b0f136ce .message {
  color: red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.acf-form .description {
  opacity: 0.75;
}
.acf-form .acf-field {
  border: none;
  margin-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}
.acf-form input[type="text"],
.acf-form input[type="email"] {
  border-bottom: 2px solid orange;
  padding: 0;
}
.acf-form input[type="text"]:focus,
.acf-form input[type="email"]:focus {
  border-color: blue;
}
.acf-form textarea {
  min-height: 200px;
}
.acf-form select,
.acf-form .select2-choices,
.acf-form textarea,
.acf-form input[type="url"] {
  border-width: 2px !important;
  border-style: solid;
  border-color: orange !important;
  box-shadow: none;
  border-radius: 2px;
  height: 35px;
}
.acf-form select:focus, .select2-dropdown-open .acf-form select,
.acf-form .select2-choices:focus, .select2-dropdown-open
.acf-form .select2-choices,
.acf-form textarea:focus, .select2-dropdown-open
.acf-form textarea,
.acf-form input[type="url"]:focus, .select2-dropdown-open
.acf-form input[type="url"] {
  border-color: blue !important;
  outline: 0;
}
.acf-form .acf-icon.small {
  line-height: 25px;
}
@media screen and (min-width: 760px) {
  .acf-form .acf-field-5924558865c11,
  .acf-form .acf-field-592455bb65c12 {
    display: inline-block;
    width: 47%;
  }
  .acf-form .acf-field-5924558865c11 {
    margin-right: 2.5%;
  }
  .acf-form .acf-field-592455bb65c12 {
    margin-left: 2.5%;
  }
}

.ui-datepicker {
  width: 297px;
  margin-top: -1px;
  border: none !important;
  border-radius: 0 0 2px 2px;
  background-color: blue !important;
  color: #fff;
  padding: 24px;
}
.ui-datepicker dl {
  margin: 0;
}
.ui-datepicker .ui-widget-header {
  border: none;
  background: transparent;
  padding: 0;
  display: none;
}
.ui-datepicker .ui-datepicker-title {
  background-color: transparent;
  text-align: center;
  color: #fff;
  margin: 0;
}
.ui-datepicker .ui_tpicker_time_label {
  font-size: 14px;
  color: #fff;
}
.ui-datepicker .ui-widget-content {
  border: none;
  border-top: none;
  background-color: transparent;
}
.ui-datepicker .ui-datepicker-buttonpane {
  margin-top: 24px;
}
.ui-datepicker .ui-datepicker-close,
.ui-datepicker .ui-datepicker-current {
  margin: 0 !important;
  font-weight: 900 !important;
  font-family: sans-serif !important;
  color: blue !important;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 8px 16px !important;
  border-color: transparent !important;
}
.ui-datepicker .ui-datepicker-close:hover,
.ui-datepicker .ui-datepicker-current:hover {
  background-color: black !important;
  color: #fff !important;
  outline: 0;
}

/*======================================================================*\
==========================================================================

							HOMEPAGE

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

							SINGLE

==========================================================================
\*======================================================================*/
/*======================================================================*\
==========================================================================

								PAGE

==========================================================================
\*======================================================================*/
